.side-panel {
    position: fixed;
    top: 0;
    right: -250px; 
    width: 250px;
    height: 450px; /* Set height to 450px */
    background-color: #44403D;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Evenly distribute buttons */
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    z-index: 10;
}

.side-panel.visible {
    transform: translateX(-250px);
    opacity: 1;
}

.custom-slidebar-button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 4px;
}

.custom-slidebar-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ddd;
}

.main-top-toggle-icon {
    position: relative;
    z-index: 20;
}
